@font-face {
    font-family: SourceCode;
    src: url('../fonts/SourceCodePro-Semibold.ttf') format("truetype");
}

body {
    background-color: #535353;
    margin:0px;
    padding:0px;
}

li.inline {
  display:inline;
  list-style-type:none;
}

div.error {
    position: absolute;
    display:table;
    top: 50%;
    margin: auto;
    width: 33%;
    height: 33%;
    overflow: auto;
    margin-top: -15%;
    left: 0px;
    right: 0px;
    background-color: #888888;
    border: 3px solid #dfaf8f;
    border-radius:15px;
}

div.error > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /* color: #7C12CC; */
    font: bold 20px verdana;
}

div#left {
    position:absolute;
    left:0px;
    width:60%;
    height:100%;
}

div#viewport {
    position:absolute;
    top:4px;
    bottom:4px;
    left:4px;
    right:0px;
}

canvas#gl {
}

div.base {
    position:absolute;
    overflow: hidden;
    white-space: nowrap;
    font-family: Arial;
    font-size: 8pt;
}

div#right {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    width:40%;
}

div#editor {
    display:table;
    height:100%;
}

div.base#properties {
    top:0px;
    height:40%;
    width:60%;
}

div.base#assets {
    top:0px;
    right:0px;
    height:40%;
    width:40%;
}

div.base#tree {
    bottom:0px;
    height:60%;
    width:100%;
}

div.head {
  height:20px;
  border-bottom:1px solid #3f3f3f;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  padding:4px 10px 2px 10px;
  background-image:-webkit-linear-gradient(top,#6f6f6f,#4f4f4f);
  font-family: Arial;
  font-size:9pt;
  font-weight:bold;
}

#properties > div.content {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    border: 2px solid #67427c;
    background-color: #5f5f5f;
    border-radius:8px;
    margin:4px 2px 4px 4px;
}

#assets > div.content {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    border: 2px solid #67427c;
    background-color: #5f5f5f;
    border-radius:8px;
    margin:4px 4px 4px 2px;
    overflow:hidden;
    z-index:-3;
}

#assets p.backdrop {
    position:absolute;
    bottom:-350px;
    right:-20px;
    color:#3f3f3f;
    text-align:center;
    font-size:200pt;
    font-weight:bold;
    -webkit-transform:rotate(25deg);
    z-index:-2;
}

#assets div.text {
    background: rgba(0,0,0,0);
    margin:12px;
    margin-top:20px;
    font-family: Arial;
    font-size:10pt;
    color:#dcdccc;
    white-space:normal;
    z-index:-1;
}

#assets div.menu {
    opacity:0;
    -webkit-transform:scale(0.6);
}

#assets div.help > div.keybox {
    position:absolute;
    bottom:10px;
    left:10px;
    width:38px;
    height:38px;
    display:none;
}

#assets div.content ul {
  list-style-type:none;
  font-family:Verdana;
  font-size:14pt;
  font-weight:bold;
  font-style:oblique;
  color:#222222;
  padding:0px;
  margin:0px;
  margin-top:28%;
}

#assets div.content li {
    border-top:1px solid #3f3f3f;
    border-bottom:1px solid #3f3f3f;
    padding-top:10px;
    padding-bottom:10px;
    background-image:-webkit-linear-gradient(top,#6f6f6f,#5f5f5f);
    margin-bottom:6px;
}

#assets div.content ul div.keybox {
    float:left;
    width:28px;
    height:28px;
    font-family: Arial;
    font-size:8pt;
    padding-left:25px;
}

#assets div.content span {
    padding-left:18px;
}

.keybox rect{
    fill-rule:evenodd;
}

.keybox rect.back {
    fill:url(#back);
    stroke:#8d8d8d;
    stroke-width:1px;
}

.keybox rect.front {
    fill:url(#front);
    stroke:#f8f8f8;
    stroke-width:0.83429003px;
}

.keybox > text {
    font-family:Verdana;
}

#tree > div {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    border: 2px solid #67427c;
    /* background: url('../images/grid.gif'); */
    border-radius:8px;
    margin:4px;
    margin-top:0px;
}

.node circle {
  cursor: pointer;
  fill: white;
  stroke-width: 1.5px;
}

.node circle.geometry {
  stroke: #7f9f7f;
}

.node circle.unassigned {
  stroke: #cc9393;
}

.node text {
  fill: #dcdccc;
  font-family: SourceCode, Arial;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

table.form {
  overflow:auto;
  padding:0px;
  border-spacing:0px;
}

td.form {
  border:none;
  border-bottom:1px dashed #3f3f3f;
}

td.form:nth-child(1) {
  padding-left:10px;
  padding-right:15px;
  min-width:80px;
}

td.form:nth-child(2) {
  border-left:1px dashed #3f3f3f;
  width:100%;
}

tr.form:nth-child(even) {
  background:#6f6f6f;
}

td.form > p {
  font-weight:bold;
  text-align:left;
  padding:0px;
  margin:0px;
}

td.form td {
  padding:0px;
  margin:0px;
  border-right:1px dashed #3f3f3f;
}

td.form td::last-child {
  border-right:none;
}

p.form {
  position:absolute;
  top:45%;
  width:100%;
  font-family: Arial;
  font-size:11pt;
  color:#dcdccc;
  text-align:center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table.form input[type=number] {
  border:none;
  margin:0px;
  padding:5px;
  padding-left:10px;
  -webkit-box-sizing: border-box;
  background-color:transparent;
  width:100%;
}

table.form input[type=number]:focus {
  background-color:#8f8f8f;
}
