@font-face {
    font-family: SourceCode;
    src: url('../fonts/SourceCodePro-Semibold.ttf') format("truetype");
}

body {
    background-color: #535353;
    margin:0px;
    padding:0px;
}

div.error {
    position: absolute;
    display:table;
    top: 50%;
    margin: auto;
    width: 33%;
    height: 33%;
    overflow: auto;
    margin-top: -15%;
    left: 0px;
    right: 0px;
    background-color: #888888;
    border: 3px solid #dfaf8f;
    border-radius:15px;
}

div.error > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /* color: #7C12CC; */
    font: bold 20px verdana;
}

div#left {
    position:absolute;
    left:0px;
    width:60%;
    height:100%;
}

div#viewport {
    position:absolute;
    top:4px;
    bottom:4px;
    left:4px;
    right:0px;
}

canvas#gl {
}

div.base {
    position:absolute;
    overflow: hidden;
    white-space: nowrap;
    font-family: Arial;
    font-size: 8pt;
}

div#right {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    width:40%;
}

div#editor {
    display:table;
    height:100%;
}

div.base#properties {
    top:0px;
    height:40%;
    width:60%;
}

div.base#help {
    top:0px;
    right:0px;
    height:40%;
    width:40%;
}

div.base#tree {
    bottom:0px;
    height:60%;
    width:100%;
}

#properties > div {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    border: 2px solid #dfaf8f;
    background-color: #5f5f5f;
    border-radius:8px;
    margin:4px 2px 4px 4px;
}

#help > div.content {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    border: 2px solid #dfaf8f;
    background-color: #5f5f5f;
    border-radius:8px;
    margin:4px 4px 4px 2px;
    overflow:hidden;
    z-index:-3;
}

#help p.backdrop {
    position:absolute;
    bottom:-350px;
    right:-20px;
    color:#3f3f3f;
    text-align:center;
    font-size:200pt;
    font-weight:bold;
    -webkit-transform:rotate(25deg);
    z-index:-2;
}

#help div.text {
    background: rgba(0,0,0,0);
    margin:12px;
    margin-top:20px;
    font-family: Arial;
    font-size:10pt;
    color:#dcdccc;
    white-space:normal;
    z-index:-1;
}

#help div.menu {
    opacity:0;
    -webkit-transform:scale(0.6);
}

#help div.help > div.keybox {
    position:absolute;
    bottom:10px;
    left:10px;
    width:38px;
    height:38px;
    display:none;
}

#help div.content ul {
  list-style-type:none;
  font-family:Verdana;
  font-size:18pt;
  font-weight:bold;
  font-style:oblique;
  color:#222222;
  padding:0px;
  margin:0px;
  margin-top:28%;
}

#help div.content li {
    border-top:1px solid #3f3f3f;
    border-bottom:1px solid #3f3f3f;
    padding-top:10px;
    padding-bottom:10px;
    background-image:-webkit-linear-gradient(top,#6f6f6f,#5f5f5f);
    margin-bottom:6px;
}

#help div.content ul div.keybox {
    float:left;
    width:28px;
    height:28px;
    font-family: Arial;
    font-size:8pt;
    padding-left:25px;
}

#help div.content span {
    padding-left:28%;
}

.keybox rect{
    fill-rule:evenodd;
}

.keybox rect.back {
    fill:url(#back);
    stroke:#8d8d8d;
    stroke-width:1px;
}

.keybox rect.front {
    fill:url(#front);
    stroke:#f8f8f8;
    stroke-width:0.83429003px;
}

.keybox > text {
    font-family:Verdana;
}

#tree > div {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    border: 2px solid #dfaf8f;
    /* background: url('../images/grid.gif'); */
    border-radius:8px;
    margin:4px;
    margin-top:0px;
}

.node circle {
  cursor: pointer;
  fill: white;
  stroke-width: 1.5px;
}

.node circle.geometry {
  stroke: #7f9f7f;
}

.node circle.unassigned {
  stroke: #cc9393;
}

.node text {
  fill: #dcdccc;
  font-family: SourceCode, Arial;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

ul.form {
  overflow:auto;
  list-style-type:none;
  padding:0px;
  margin:0px;
  height:100%;
}

li.form {
  padding:5px 15px 5px 10px;
  border-bottom:1px solid #3f3f3f;
  border-left:1px solid #3f3f3f;
  border-radius:8px;
  left:0px;
  right:0px;
  background-image:-webkit-linear-gradient(top,#6f6f6f,#5f5f5f);
  /* float:left; */
}

label.form {
  display:block;
  float:left;
  font-weight:bold;
  padding-top:0.5em;
  /* text-align:right; */
  /* line-height:25px; */
  width:80%;
}

p.form {
  position:absolute;
  top:45%;
  width:100%;
  font-family: Arial;
  font-size:11pt;
  color:#dcdccc;
  text-align:center;
}

input.form[type=text] {
  border:1px solid darkgray;
  padding:5px;
  width:80%;
}

input.form[type=range] {
  width:80%;
}

input.form[type=number] {
  border:1px solid #3f3f3f;
  width:20%;
  background-color:#7f7f7f;
  padding:2px;
}

input.form[type=number]:focus {
  outline:1px solid #7cb8bb;
  border:1px solid #4c7073;
  background-color:#8f8f8f;
}
