body {
    background-color: #535353;
    margin:0px;
    padding:0px;
}

div.error {
    position: absolute;
    display:table;
    top: 50%;
    margin: auto;
    width: 33%;
    height: 33%;
    overflow: auto;
    margin-top: -15%;
    left: 0px;
    right: 0px;
    background-color: #888888;
    border: 3px solid #CF8340;
    border-radius:15px;
}

div.error > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /* color: #7C12CC; */
    font: bold 20px verdana;
}

div#left {
    position:absolute;
    left:0px;
    width:60%;
    height:100%;
}

div#viewport {
    position:absolute;
    top:8px;
    bottom:8px;
    left:8px;
    right:0px;
}

canvas#gl {
}

div.base {
    position:absolute;
    overflow: hidden;
    white-space: nowrap;
    font-family: Arial;
    font-size: 8pt;
}

div#right {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    width:40%;
}

div#editor {
    display:table;
    height:100%;
}

div.base#properties {
    top:0px;
    height:40%;
    width:100%;
}

div.base#operators {
    bottom:0px;
    height:60%;
    width:100%;
}

div#panel {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    border: 2px solid #CF8340;
    background-color: #888888;
    border-radius:8px;
    margin:8px;

}

div#tree {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    border: 2px solid #CF8340;
    /* background: url('../images/grid.gif'); */
    border-radius:8px;
    margin:8px;
    margin-top:0px;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
